* {
  margin: 0;
  padding: 0;
}

.app {
  background: #f6f;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
}

.todo-list {
  display: flex;
  width: 390px;
  flex-direction: column;
  border-radius: 4px;
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 6px;
}
.todo-input {
  width: 350px;
  border-radius: 5px;
  font-size: 16px;
  padding: 20px;
  outline: none;
  border: none;
  background: #fff;
  font-size: 16px;
}
.todo-btn {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
.todo-group-btn {
  display: flex;
  gap: 0.25rem;
}
.primary {
  background-color: gray;
  color: rgb(255, 255, 255);
}
.secondary {
  background-color: yellowgreen;
  color: white;
}